.account {
    display: flex;
    align-items: center;
}

#account-avatar {
    margin-right: 5px;
    background-color: #fff8ef;
    border-radius: 10px;
    user-select: none;
    height: 48px;
    width: 48px;
}

#account-name {
    font-size: 24px;
}