.app-header {
    flex: none;
    width: 100%;
    min-height: 40px;

    display: flex;
    align-items: center;
    padding: 10px;

    background-color: #4f4c4a;
    color: #fff8ef;
}

.flex-box {
    flex: 1;
    display: flex;
    justify-content: center;
}

.app-header .flex-box:first-child > * {
    margin-right: auto;
}

.app-header .flex-box:last-child > *  {
    margin-left: auto;
}
