.app-header {
    flex: none;
    width: 100%;
    min-height: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    background-color: #4f4c4a;
    color: #fff8ef;
}
