.password-area {
    display: flex;
    align-items: center;
}

.password-area .text-input.unlocked {
    width: 250px;
    margin-left: 5px;
    opacity: 100;
}

.password-area .text-input.locked {
    width: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    opacity: 0;
    border: none;
    transition: opacity 0.2s ease-in 0.3s, width 0.5s, margin-left 0s ease-in 0.5s, border 0s ease-in 0.5s;
}

.password-area .text-input {
    transition: width 0.5s;
}
