.tags {
    width: 80%;
    max-width: 700px;
    flex: 1 0 auto;

    margin-top: 20px;

    display: flex;
    flex-wrap: wrap;
    overflow-y: hidden;
    max-height: 125px;
    align-content: flex-start;
}
