.tags {
    width: 80%;
    max-width: 700px;
    flex: 1 0 auto;

    margin-top: 20px;

    display: flex;
    flex-wrap: wrap;
    overflow-y: hidden;
    max-height: 125px;
    align-content: flex-start;
}

.tag {
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    padding: 5px 15px;
    background-color: #4f4c4a;
    color: #fff8ef;
    max-height: 35px;
}

.tag:last-child {
    margin-right: 0;
}
